/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uilds/
/.utmp/
/MemoryCaptures/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.apk
*.aab
.vs/
.idea/

# Signing / lokale Konfiguration
*.keystore
*.jks
*.p12
local.properties
.DS_Store
Thumbs.db
